{% extends 'base.html' %}

{% block content %}
<h1>Lista de Precios de Proveedores</h1>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Proveedor</th>
            <th>Precio de Costo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for precio_proveedor in precios_proveedores %}
        <tr>
            <td>{{ precio_proveedor.producto.nombre }}</td>
            <td>{{ precio_proveedor.proveedor.nombre }}</td>
            <td>{{ precio_proveedor.precio_costo }}</td>
            <td>
                <a href="{% url 'precio_proveedor_update' precio_proveedor.pk %}">Editar</a>
                <a href="{% url 'precio_proveedor_delete' precio_proveedor.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'precio_proveedor_create' %}">Crear Nuevo Precio de Proveedor</a>
{% endblock %}